<div class="navbar">
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/presidents">President</a></li>
        <li><a href="/announcements">Annoucements</a></li>
        <li><a href="/biblestudies">Bible Studies</a></li>
        <li><a href="/counselling">Counselling</a></li>
        <li><a href="/prayerhelp">Prayer Help</a></li>
        <li><a href="/executives">Executives</a></li>
        <li><a href="/librarybooks">Library Books</a></li>
        <li><a href="/gallery">Gallery</a></li>
    </ul>
</div>
