<div class="navbar">
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/presidents">President</a></li>
        <li><a href="/">Annoucements</a></li>
        <li><a href="/">Bible Studies</a></li>
        <li><a href="/">Counselling</a></li>
        <li><a href="/">Prayer Help</a></li>
        <li><a href="/">Executives</a></li>
    </ul>
</div>
