<!DOCTYPE html>
<html lang="en">
<body>
    <br>
    <div class="container">
    <div class="create-blog content">
        <form action="/postcounselling" method="POST">
                <h1>Create Blog</h1>
                <br>
            <input type="text"  name="fullname" placeholder="fullname" >
            <input type="text"  name="worringmessage" placeholder="Worring Message" required>
            <button class="btn btn-success">Create</button>
        </form>
    </div>
</div>
</body>
</html>