<%- include('./partials/header.ejs') %>

    <h1 class="heading">This is the backend dashboard</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
          <div class="disp">
            <a href="/presidents"><p>Presidents</p></a>
          </div>
          <div class="disp">
            <a href="/announcements"><p>Annoucements</p></a>
          </div>
          <div class="disp">
            <a href="/biblestudies"><p>Bible Studies</p></a>
          </div>
          <div class="disp">
            <a href="/counselling"><p>Counselling</p></a>
          </div>
          <div class="disp">
            <a href="/prayerhelp"><p>Prayer Help</p></a>
          </div>
          <div class="disp">
            <a href="/executives"><p>Executives</p></a>
          </div>
          <div class="disp">
            <a href="/librarybooks"><p>Library Books</p></a>
          </div>
          <div class="disp">
            <a href="/gallery"><p>Gallery</p></a>
          </div>
        </div>
      </div>
    </div>


<%- include('./partials/footer.ejs') %>