<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nubs Uenr Dashboard</title>
</head>
<body>
    <p>This is the backend dashboard</p>
    <% if (Blogs.length > 0){ %> <% Blogs.forEach(Blogs => { %>
    <table style="width:100%">
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Snippet</th>
        </tr>
        <tr>
          <td><%= Blogs.title %></td>
          <td><%= Blogs.date %></td>
          <td><%= Blogs.snippet %></td>
        </tr>
      </table>
      <% }) %> <% } else{ %>
        <p>There are no Blogs to be displayed</p>
        <% } %> 
      <p><a href="/createblog">Add</a></p>
</body>
</html>