<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<h1 class="heading">Counselling</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <table>
                    <tr>
                      <th>Full Name</th>
                      <th>Message </th>
                      <th>Viewed </th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>Yes</td>
                      <td><a href="/viewcounselling" style="margin-right:15px; color:blue;"><i class="bi bi-eye-fill"></i></a>
                    </td>
                    </tr>
                  </table>
                  
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>