<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


<h1 class="heading"> Add Bible Studies Content</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add_btn">
                <a href="/biblestudies"><i class="bi bi-bar-chart-fill"></i>Manage Bible Studies Content</a>
            </div>
            <div>
                <h4 style="color: white;">To get and copy the Document link. Click <a href="https://nubsuenrfileupload.vercel.app" target="_blank">here</a></h4>
            </div>
            <br>
            <form method="post" action="/postbiblestudies">
                <input type="text" placeholder="title" name="title" required />
                <input type="text" placeholder="snippet" name="snippet" required />
                <input type="text" placeholder="date" name="date" required />
                <input type="text" placeholder="Document url" name="link" required />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>










<%- include('../partials/footer.ejs') %>